h1{
  text-align: center;
  font-size:xx-large;
  color:orangered
}
h2{
  text-align: center;
  font-size: x-large;
  color: blue
  
}
img{
  display:block;
  width:25%;
  margin:auto;
  cursor: pointer;
}
.input{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.error-output{
  color:red;
  font-size: 14px;
  font-style:italic;
}